<div class="container debug">
  <!-- Top row -->
  <div class="row debug">
<!-- Quadrant 1 -->
    <div class="col-xs-12 col-md-6 debug">

      <h1 class="address"><%= @building.address %></h1>
        <div class="score-box">
          <span class="badge"><%=@building.badge_score%></span>
        </div>

      <div class="building-summary">
        <h3>Building Summary</h3>
          <%if @building.ellis%>
            <p>Tenants were evicted at this building under the Ellis Act.</p>
          <%elsif @building.move_in%>
            <p>Tenants were evicted at this building because the owner or his or her close relative moved in.</p>
          <%elsif @building.condo_conv%>
            <p>Tenants were evicted at this building because the building was converted into condos.</p>
          <%end%>

          <ul>
            <li>Harassment Complaints: <%=@building.harassments.count %></li>
            <li>Maintenence Issues: <%=@building.fix_orders.count %></li>
            <li>Eviction Notices: <%=@building.eviction_notices.count %></li>
            <li>Rent Increases: <%=@building.rent_notices.count %></li>
          </ul>
      </div>

    </div>

    <!-- end Quadrant 1 -->

    <!-- Quadrant 2 -->

    <div class="col-xs-12 col-md-6 debug">
      map
    </div>

    <!-- End quadrant 2 -->
  </div>
  <!-- End of top row -->
</div>