<div class="container debug">
  <div class="row debug">
    <div class="col-xs-12 col-md-6 debug">
      <h1 class="address"><%= @building.address %></h1>
      <div class="score-box">
         <span class="badge"><%=@building.badge_score%></span>
     </div>

      <h3>Building Summary:</h3>
      <ul>
        <%if @building.ellis%>
          <p>Tenants were evicted at this building under the Ellis Act.</p>
        <%elsif @building.move_in%>
          <p>Tenants were evicted at this building because the owner or his or her close relative moved in.</p>
        <%elsif @building.condo_conv%>
          <p>Tenants were evicted at this building because the building was converted into condos.</p>
        <%end%>
        <li>Harassment Complaints: <%=@building.harassments.count %></li>
        <li>Maintenence Issues: <%=@building.fix_orders.count %></li>
        <li>Eviction Notices: <%=@building.eviction_notices.count %></li>
        <li>Rent Increases: <%=@building.rent_notices.count %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 debug">
      google map
    </div>
  </div>
  <div class="row debug">
    <div class="col-xs-12 col-md-9 debug">
      comments
    </div>
    <div class="col-xs-12 col-md-3 debug">
      google map
    </div>
  </div>
</div>









<div class="profile-container">


<button id="report-button">Report On Your Building</button>

<div class="report-container">

   <div class="report-dropdown">
    <select name="report-form-dropdown" id="report-form-dropdown">
      <% @report_categories.each do |category| %>
        <option value="<%= category %>"><%= category %></option>
      <% end %>
    </select>
   </div>

    <%= render partial: 'reports/leaseincrease' %>
    <%= render partial: 'reports/maintenenceissue' %>
    <%= render partial: 'reports/evictionnotice' %>
    <%= render partial: 'reports/otherharassment' %>

</div>

  <div class="recent-reports-container">
    <ul>
    <% if @reports_array.length > 0 %>
      <% @reports_array.each do |report| %>
        <li> <span class="created"><%= report.created_at.strftime("%b %d, %Y") %></span> | Comment: <span class="report_comment"><%= report.comment %></span> </li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="local-map">
    <img src=<%=image_path("fake-map.png")%>>

    <!--link to full map-->
  </div>


</div>
