<body data-no-turbolink="true">
<div class="container debug">
  <!-- Top row -->
  <div class="row top-row debug">
<!-- Quadrant 1 -->
    <div class="col-xs-12 col-md-6 debug">


        <div class="score-box">
          <span class="badge" id="score-badge"><%=@building.badge_score%></span>
        </div>
        <h1 class="address"><%= @building.address %></h1>

      <div class="building-summary">
        <h2>What You Need to Know</h2>
          <div class="eviction-summary">
            <%if @building.ellis%>
              <p>Tenants were evicted at this building under the Ellis Act.</p>
            <%elsif @building.move_in%>
              <p>Tenants were evicted at this building because the owner or his or her close relative moved in.</p>
            <%elsif @building.condo_conv%>
              <p>Tenants were evicted at this building because the building was converted into condos.</p>
            <%end%>
          </div>

          <ul>
            <li>Harassment Complaints: <span id="harass-count"><%=@building.harassments.count %></span></li>
            <li>Maintenence Issues: <span id="fix-count"><%=@building.fix_orders.count %></span></li>
            <li>Eviction Notices: <span id="evic-count"><%=@building.eviction_notices.count %></span></li>
            <li>Rent Increases: <span id="rent-count"><%=@building.rent_notices.count %></span></li>
          </ul>
      </div>

    </div>

    <!-- end Quadrant 1 -->

    <!-- Quadrant 2 -->


    <div class="col-xs-12 col-md-6 debug">
      <div id="map-canvas"></div>
    </div>

    <!-- End quadrant 2 -->
  </div>
  <!-- End of top row -->
  <!-- beginning of second row -->
  <div class="row prof-row debug" id="report-row">

    <!-- Quadrant 4 -->

    <div class="col-xs-12 col-md-6 debug">
          <div class="recent-reports-comments">
          <div class="well">

                  <h4 class="type-of-comment"></h4><br>

                <span class="created"></span> | Comment: <span class="report_comment"></span>
          </div>
          <% if @reports_array.length > 0 %>
          <h2>Recent Reports</h2>
            <% @reports_array.each do |report| %>
              <div class="well">
                <% if report.class.to_s == "EvictionNotice"  %>
                  <h4 class="type-of-comment">Eviction Notice</h4><br>
                <% elsif  report.class.to_s == "FixOrder" %>
                  <h4 class="type-of-comment">Maintenance Issue</h4><br>
                <% elsif  report.class.to_s == "RentNotice"  %>
                  <h4 class="type-of-comment">Rent Increase</h4><br>
                <% elsif  report.class.to_s == "Harassment"  %>
                  <h4 class="type-of-comment">Landlord Harassment</h4><br>
                <% end %>
                <span class="created"><%= report.created_at.strftime("%b %d, %Y") %></span> | Comment: <span class="report_comment"><%= report.comment %></span>
              </div>
            <% end %>
          <% end %>
        </div>
        </div>
    <!-- End Quadrant 4 -->

    <!-- Quadrant 3 -->
    <div class="col-xs-12 col-md-6 debug report-button-container">
      <button class="btn" id="report-button">Report On Your Building</button>
    </div>
    <!-- End Quadrant 3 -->


  </div>
  <!-- End of second row -->
  <!-- start of third row -->
  <div class="row debug">
    <div class="report-container">

      <div class="form-contents">
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs report-toggle" role="tablist">
            <li role="presentation" class="active"><a href="#lease-increase" aria-controls="lease-increase" role="tab" data-toggle="tab">Lease Increase</a></li>
            <li role="presentation"><a href="#maint-issue" aria-controls="maint-issue" role="tab" data-toggle="tab">Maintenance</a></li>
            <li role="presentation"><a href="#evic-notices" aria-controls="evic-notices" role="tab" data-toggle="tab">Eviction Notices</a></li>
            <li role="presentation"><a href="#harassment" aria-controls="harassment" role="tab" data-toggle="tab">Harassment</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="lease-increase"><%= render partial: 'reports/leaseincrease' %></div>
            <div role="tabpanel" class="tab-pane" id="maint-issue"><%= render partial: 'reports/maintenenceissue' %></div>
            <div role="tabpanel" class="tab-pane" id="evic-notices"><%= render partial: 'reports/evictionnotice' %></div>
            <div role="tabpanel" class="tab-pane" id="harassment"><%= render partial: 'reports/otherharassment' %></div>
          </div>




    </div>

  </div>
  <!-- end of third row -->
</div>
<!-- End containter -->

    <%= render partial: 'buildings/building_map' %>













    </div>
  </body>
