<div class="home-container debugger">

  <div class="hero-image debugger">
    <img class="hero-image debugger" src=<%= image_path('happyfamilySF_copyrightACainFlickr.png') %>>
  </div>

  <div class="nav-bar">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Map</li>
      <li>Take Action!</li>
    </ul>
  </div> <!-- end nav-bar -->

  <div class="search-and-report-container">
    <%= form_tag("new_search_path", method: "GET") do %>
      <%= label_tag(:address, "Address:")%>
        <%= text_field_tag(:address)%>
      <%= label_tag(:zip_code, "Zip Code:")%>
        <%= text_field_tag(:zip_code)%>
      <%= submit_tag("Search")  %>
    <% end %>
  </div>
  
</div>


















</div> <!-- home-container end -->

