<head>
	<h1>	Matching Addresses </h1>
	
<!-- Temporary Styling -->
<style>
	table, th, td {
	    border: 1px solid black;
	    padding: 5px;
	}
	th { background-color: steelblue; color: white;
	}
	table {
	    border-spacing: 15px;
	}
</style>

</head>
	<body>

	<table class="results_table" style="width:100%">
	  <tr>
	    <th>Address:</th>
	    <th>Zip:</th>		
	    <th>Neighborhood:</th>
	    <th>Owner Move_in:</th>
	    <th>Condo Conversion:</th>
	    <th>Ellis Acts:</th>
	  </tr>
		<%@only_zips.each do |building| %>
		  <tr>
		    <td><%=building.address%></td>
		    <td><%=building.zip_code%></td>		
		    <td><%=building.neighborhood%></td>		
		    <td><%=building.move_in%></td>		
		    <td><%=building.condo_conv%></td>		
		    <td><%=building.ellis%></td>		
		  </tr>
		<% end %>
	  
	</table>


	</body>
</html>

