<div class="results-page ghost-image">
	<h1>	Matching Addresses </h1>
<%=params  %>
	<table class="results_table">
	  <tr>
	    <th>Address:</th>
	    <th>Zip:</th>
	    <th>Neighborhood:</th>
	    <th>Owner Move_in:</th>
	    <th>Condo Conversion:</th>
	    <th>Ellis Acts:</th>
	  </tr>
		<%@only_zips.each do |building| %>
		  <tr>
		  <!-- @address= building.zip_code -->
			  <td><%=link_to building.address, building_path(building) %></td>
		    <td><%=building.zip_code%></td>
		    <td><%=building.neighborhood%></td>
		    <td><%=building.move_in%></td>
		    <td><%=building.condo_conv%></td>
		    <td><%=building.ellis%></td>
		  </tr>
		<% end %>

	</table>
</div>


